@charset "UTF-8";
/*
em HTML é id = css é #
em HTML é class = css é .

*/

body{
    background-color: #00ACEB;
    font-family: Arial, Helvetica, sans-seri, serif;
}
h1{
    color: #001cab;
}
#principal{
    text-align: center;
    background-color: #004F6B;
    color: white;
}
h2{
    color: #007DAB;
}
.basico{
    color: #001cab;
}
.intermediario{
    color: #17ab00
}
.avancado{
    color: #001cab
}
.destaque{
    background-color: #ab0000;
}